/*
colours and hex reposotory
Dark Blue: #1A41F0
Light Blue: #1BF9FB
White: #FFFFFF
Yellow: #FFEA1C
Pink: #FF00FA
Green: #06F906
*/

/*Colours Only*/
#body {
  background-color: black;
}

header {
  color: #fd574e;
}

main {
  color: #fd574e;
}

footer {
  color: #fd574e;
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
}

/* #blog-column {
  background-color: #06f906;
} */

/*link colours*/
a:link {
  color: #fd574e;
}
a:visited {
  color: #fd574e;
}
a:hover {
  color: #06f906;
}
a:active {
  color: #fd574e;
}

/*Fonts only*/

header {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 500;
  font-size: 2.3em;
}

.nav-logo h1 {
  font-weight: 800;
  font-size: 1.2em;
}

main h1 {
  font-family: 'Darker Grotesque', sans-serif;
  font-weight: 800;
  font-size: 4em;
}

.blog-column {
  font-size: 1.5em;
}

/*navigation on the same line as logo*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  padding: 10px;
}

nav a {
  text-decoration: none;
}

div a {
  text-decoration: none;
}

/*Intro Positions*/
.intro-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#home {
  margin: 30px;
}

/*Blog List*/

.blog-list {
  margin: 150px 30px 30px 30px;
}

.blog-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: baseline;
}

.blog-column {
  width: 400px;
  margin: 20px;
  text-align: left;
}

/*Footer*/
.footer {
  color: white;
  margin: 200px 30px 30px 30px;
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*Blog page specific edit*/

.blog-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffea1c;
}

#blog-column-heading {
  padding: 20px;
}

#blog-column-heading h2 {
  font-weight: 700;
}

#blog-column-sub-heading {
  padding: 20px;
}

.blog-page-overall {
  font-family: 'Darker Grotesque', sans-serif;
  color: #fd574e;
  padding: 20px;
}

.blog-body {
  padding: 50px;
  font-size: 24px;
}

.blog-body h3 {
  font-weight: bold;
}
